
footer{
    background-color: var(--neutral-1);
    color: var(--neutral-0);
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 0px, 20px, 0px, 20px;
    margin-top: 2rem;
    box-shadow: 0px 0px 10px 0px var(--neutral-0);
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.footer_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--neutral-1);
    color: var(--neutral-0);
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 0px, 20px, 0px, 20px;
}

.text_footer{
    font-size: 20px;
    font-weight: 400;
}

strong{
    color: var(--neutral-text);
}